.faq_wrap {
  .faq_wrap_content {
    display: flex;
    flex-wrap: wrap;

    .left {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color3;
      height: 100vh;
      position: sticky;
      top: 0;
      @include transition();

      &.orange {
        background-color: $color4;
      }

      @media #{$s1023} {
        width: 100%;
        position: relative;
        height: auto;
        padding-top: 150px;
        padding-bottom: 150px;
      }

      @media #{$s750} {
        padding-bottom: 200px;
      }

      .left_content {
        width: 100%;
        padding: 2vw;
        box-sizing: border-box;
        @extend .fadeIn;
        @include transition();

        .main_content {
          .icon_holder {
            max-width: 8vw;
            margin: auto;
            margin-bottom: 2vw;

            @media #{$s1023} {
              max-width: 150px;
              margin-bottom: 40px;
            }

            @media #{$s750} {
              max-width: 110px;
              margin-bottom: 30px;
            }

            img {
              width: 100%;
              height: 8vw;
              @media #{$s750} {
                height: auto;
              }
            }
          }

          h2 {
            font-size: 6vw;
            font-family: $font2;
            color: #fff;
            text-align: center;

            @media #{$s1100} {
              font-size: 60px;
            }

            @media #{$s750} {
              font-size: 54px;
            }
          }
        }

        .filters_holder {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          width: 100%;
          border-bottom: 2px solid rgba(255, 255, 255, 0.4);
          padding-bottom: 1vw;
          box-sizing: border-box;
          position: absolute;
          bottom: 2vw;
          left: 50%;
          width: 90%;
          transform: translateX(-50%);

          @media #{$s1023} {
            bottom: 40px;
            padding-bottom: 20px;
          }

          &.right {
            background-color: transparent;
            justify-content: initial;
            min-height: initial;

            &:after {
              left: 50%;
            }
          }

          &:after {
            content: "";
            height: 6px;
            background-color: #fff;
            position: absolute;
            width: 50%;
            left: 0%;
            bottom: -3px;
            @include transition();
          }

          .single_filter {
            width: 50%;
            @extend .text;
            text-align: center;
            color: #fff;
            font-size: 1.4vw;
            cursor: pointer;

            @media #{$s1100} {
              font-size: 18px;
            }
          }
        }
      }
    }

    .right {
      width: 60%;
      display: flex;
      justify-content: center;
      background-color: $color5;
      min-height: 100vh;

      @media #{$s1023} {
        width: 100%;
      }

      .right_content {
        width: 40vw;
        padding-top: 15vw;
        padding-bottom: 5vw;
        box-sizing: border-box;
        @extend .fadeIn;
        @include transition();

        @media #{$s1100} {
          width: auto;
          padding-top: 150px;
          padding-bottom: 80px;
          padding-left: 40px;
          padding-right: 40px;
        }

        @media #{$s1023} {
          padding-top: 100px;
        }

        @media #{$s750} {
          padding-top: 80px;
          padding-left: 30px;
          padding-right: 30px;
        }

        h1 {
          @extend .medium_headline;
          margin-bottom: 4vw;

          @media #{$s1023} {
            margin-bottom: 60px;
          }

          @media #{$s750} {
            text-align: center;
          }
        }

        .questions_wrap {
          .single_question_wrap {
            border-bottom: 1px solid $color2;
            margin-bottom: 1.5vw;
            cursor: pointer;

            @media #{$s1023} {
              margin-bottom: 20px;
            }

            &.active {
              background-color: #fff;
              border-bottom: none;
              border-radius: 10px;

              .single_question {
                .question_header {
                  .question_opener {
                    background-color: $color5;

                    span {
                      &:nth-of-type(2) {
                        transform: translate(-50%, -50%) rotate(0deg);
                      }
                    }
                  }
                }
              }
            }

            .single_question {
              padding: 1.5vw;
              box-sizing: border-box;

              @media #{$s1023} {
                padding: 30px;
              }

              @media #{$s750} {
                padding: 30px;
              }

              .question_header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1vw;

                @media #{$s1023} {
                  margin-bottom: 20px;
                }

                @media #{$s750} {
                  margin-bottom: 10px;
                }

                h3 {
                  @extend .text;
                  font-family: $font1B;
                  padding-right: 20px;

                  @media #{$s1300} {
                    font-size: 18px;
                  }
                }

                .question_opener {
                  min-width: 40px;
                  min-height: 40px;
                  width: 40px;
                  height: 40px;
                  border-radius: 40px;
                  position: relative;
                  background-color: #fff;
                  @include transition();

                  @media #{$s750} {
                    min-width: 30px;
                    min-height: 30px;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                  }

                  span {
                    width: 20px;
                    height: 2px;
                    background-color: $color2;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    @include transition();

                    @media #{$s750} {
                      width: 15px;
                    }

                    &:nth-of-type(2) {
                      transform: translate(-50%, -50%) rotate(90deg);
                    }
                  }
                }
              }

              .question_answer {
                display: none;
                width: 80%;

                @media #{$s750} {
                  width: 90%;
                }

                p {
                  font-size: 16px;
                  color: $color6;
                  font-family: $font1R;
                  line-height: 1.4em;

                  a {
                    color: $color6;
                    text-decoration: underline;

                    &:hover {
                      text-decoration: none;
                    }
                  }
                }

                a {
                  color: $color6;
                  text-decoration: underline;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
